In [1]:
range(3000,3100,20)

range(3000, 3100, 20)

In [3]:
var=range(3000,3100,20)

In [4]:
type(var)

range

In [6]:
print(var)

range(3000, 3100, 20)

In [5]:
for i in range(20,100,10):
    print(i)

20
30
40
50
60
70
80
90

In [15]:
di={"Narendra":"92","Aditya":"84","Harsh":"95"}
for itr in  di:
    print(itr,di[itr])

Narendra 92
Aditya 84
Harsh 95

In [20]:
stud=('Narendra','aditya','harsh')
sub=('java','python','cpp')
for i in stud:
    for j in sub:
        print(i,j)

Narendra java
Narendra python
Narendra cpp
aditya java
aditya python
aditya cpp
harsh java
harsh python
harsh cpp

create a comprehensive list upto 10

In [27]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

create a comprehensive list upto 10 and add 10 in each value

In [28]:
[i+10 for i in range(1,11)]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

create a list of each number which is square of [120 to 130]

In [29]:
[i*2 for i in range(120,130)]

[240, 242, 244, 246, 248, 250, 252, 254, 256, 258]

In [30]:
for i in range(120,130):
    print(i*2)

240
242
244
246
248
250
252
254
256
258

using for loop display even number

In [37]:
for i in range(10,30):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28

In [43]:
[i for i in range(10,30,2) if i%2==0]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [47]:
[ i  for i in range(10,30) if i%2==0 ]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
stud=('Narendra','aditya','harsh')
sub=('java','python','cpp')
[(i,j) for i in stud() for j in sub]

[('Narendra', 'java'),
 ('Narendra', 'python'),
 ('Narendra', 'cpp'),
 ('aditya', 'java'),
 ('aditya', 'python'),
 ('aditya', 'cpp'),
 ('harsh', 'java'),
 ('harsh', 'python'),
 ('harsh', 'cpp')]

to generate list of numbers divisible by 3 and 7 upto 100

In [ ]:
[i for i in range(100) if i%3==0 and i%7==0]

[21, 42, 63, 84]

to generate list of numbers divisible by 3 and 7 upto 70

In [ ]:
[i for i in range(70) if i%3==0 and i%7==0]

to generate list of numbers divisible by 10 upto 100

In [ ]:
[i for i in range(10,100) if i%10==0 ]

In [59]:
li=[8,20,'abc',[20,30,'a']]
#ans new_list [16,40,'abc',[20,30,'a']]

In [62]:
type(li[1])

int

In [82]:
new_list=[]
for i in li:
    if type(i) in (int,float):
        print(i*2)
    else:
        print(i)

16
40
abc
[20, 30, 'a']

In [87]:
[i*2 if type(i)in (int,float)else i for i in li]

[16, 40, 'abc', [20, 30, 'a']]