In [8]:
next(iobj)

3

In [6]:
next(iobj)

2

In [30]:
next(iobj)

StopIteration:

In [4]:
iobj=iter({1,2,3,4,5,6,7,8,9,3,4,56,5352})
iobj

In [12]:
obj=iter((1,2,3,4,5,6,6))
obj

In [14]:
obj1=iter([1,2,3,4,5,6,7,8,9,"Narendra","Aditya"])
obj1

In [16]:
has_next(obj1)

NameError: name 'has_next' is not defined

In [17]:
obj2=iter({"narendra":1,"Aditya":2})
obj2

Iter Tools

In [33]:
from itertools import count,cycle,islice,repeat,accumulate,chain

In [35]:
range(4,10, 2)

range(4, 10, 2)

In [37]:
for i in count(start=5,step=3):
    if i>16:
        break
    else:
        print(i)

5
8
11
14

In [55]:
for i in count(start=2,step=1):
    if i>6:
        break
    else:
        print(i)

2
3
4
5
6

In [72]:
l1=[1,2,3,35,346,55,463]

In [73]:
iobj=islice(l1,4,45)

In [77]:
next(iobj)

StopIteration:

In [10]:
n=2
l2=list(range(-10,40,2))
l2

[-10,
 -8,
 -6,
 -4,
 -2,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38]

In [12]:
for i in islice(l2,4,8,2):
    print(i)

NameError: name 'islice' is not defined

In [16]:
import itertools
my_list=[1,2,3,4,5,6,7,8]

sliced_iterator=itertools.islice(my_list,2,7,2)
print(list(sliced_iterator))

[3, 5, 7]

In [22]:
from itertools import cycle
count=13
for i in cycle('XYZ'):
    if i>16:
        break
    else:
        print(i,count)
        count=+1

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
from itertools import repeat
repeat_obj=repeat("fsfnwdgfkwnf",3)

In [28]:
next(repeat_obj)

StopIteration:

Accumulate

In [34]:
from itertools import accumulate
iterator=accumulate(range(1,10))

In [35]:
list(iterator)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [36]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [38]:
import operator
list(accumulate(range(1,10),operator.mul))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [43]:
list=(12,3134,2,53,47,466,3,524,25,3)
print(list)

(12, 3134, 2, 53, 47, 466, 3, 524, 25, 3)

In [ ]:
()

In [66]:
str=("abc","xyz")

In [83]:

no=list(range(10))
print(no)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
from itertools import chain
print(chain(str,no))

<itertools.chain object at 0x000001A5A7F16620>

In [92]:
list1=[1,2,3,4,5,20,30,40,50,60,70,80,90]
for i in list1:
    if i>30:
        break
    
    print(i)

1
2
3
4
5
20
30

Dropwhile

In [107]:
def greater_than_5(x):
    return x>5

In [108]:
greater_than_5(25)

True

In [109]:
from itertools import dropwhile

In [110]:
list(dropwhile(greater_than_5,[1,2,5,7,1,5,2,4,25,30,60,70,80,90]))

[1, 2, 5, 7, 1, 5, 2, 4, 25, 30, 60, 70, 80, 90]

In [111]:
list(dropwhile(greater_than_5,[10,20,5,7,1,5,2,4]))

[5, 7, 1, 5, 2, 4]