In [55]:
print('hello aditya')

hello aditya

In [56]:
a,b=10,20

In [57]:
a,b

(10, 20)

In [58]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [59]:
name1="Kothrud"

In [60]:
type(name1)

str

In [61]:
s_name=input("Enter your name")

In [62]:
s_marks=input("Enter your Marks")

In [63]:
print(s_name)

In [64]:
type(s_marks)

str

In [65]:
s_marks=int(s_marks)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
type(s_marks)

int

In [ ]:
marks=input("enter the marks")
print(marks)
marks=int(marks)
print(type(marks))

90
<class 'int'>

In [ ]:
st='ab'
st1="Narendra"
st2="""Today is first of 
of learning     
            python"""
st3='''Welcome to my 
first           program of 
python
'''

In [ ]:
st

'ab'

In [ ]:
st[0]

'a'

In [ ]:
st1[2]

'r'

In [ ]:
print(st3)

Welcome to my
first           program of
python

In [ ]:
st3[:3]

'Wel'

In [ ]:
st3[3:]

'come to my \nfirst           program of \npython\n'

In [ ]:
st1[:-1]

'Narendr'

In [ ]:
st2[::2]

'Tdyi is f\nflann         pto\n'

In [ ]:
st3[:5:2]

'Wlo'

In [ ]:
marks[0]

TypeError: 'int' object is not subscriptable

In [ ]:
list1,type(list1)

([1, 2, 3, 4, 5], list)

In [ ]:
list1=[1,2,3,4,5]

In [ ]:
tuple1=(1,2,3,4,4,4,4,4,5,6,7)

In [ ]:
tuple1,type(tuple1)

((1, 2, 3, 4, 4, 4, 4, 4, 5, 6, 7), tuple)

In [ ]:
set1={1,2,3,4,4,5,6,7}

In [ ]:
set1,type(set1)

({1, 2, 3, 4, 5, 6, 7}, set)

In [ ]:
dict1={'a':10,'b':20}
dict1,type(dict1)

({'a': 10, 'b': 20}, dict)

In [ ]:
dict1['a']

10

In [ ]:
list1[2]

3

In [54]:
tuple1[6]

4

In [66]:
a+b

30

In [67]:
a-b

-10

In [70]:
b/a

2.0

In [71]:
b//a

2

In [72]:
2**3

8

In [ ]:
a<b

True

Logical Operator
true false

In [76]:
True and False

False

In [77]:
False and True

False

In [79]:
False and False

False

In [1]:
True and True

True

In [6]:
a=10

In [7]:
a==10

True

In [17]:
user=input("enter the number")
passw=int(input("enter the pass"))

if user=='narendra' and passw==1234:
    print("Logged In")

else:
    print("Wrong Cridentials")

Logged In

In [ ]:
mark=int(input("enter the marks"))

if mark<=80 and mark>=90:
    print("Grade A")
elif mark<=80:
    print("Grade B")
elif mark<=65:
    print("Grade C")
elif mark<=45:
    print("Grade D")
else:
    print("Fail")

Fail

1. If name = ''' Hi How are you? Starterd learning python. It's really interesting.''' Then what is the output of following code • name[:] • name[-10:-5] • name[3:12] • name[12:3] • name[5,6] • name[-4:-12]

In [32]:
name='''Hi How are you? Starterd learning python. It's really interesting.'''

In [29]:
name[:]

" Hi How are you? Starterd learning python. It's really interesting."

In [30]:
name[-10:-5]

'teres'

In [33]:
name[3:12]

'How are y'

In [34]:
name[12:3]

''

In [36]:
name[5:6]

'w'

In [37]:
name[-4:-12]

''

. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘happy’, ‘major’] a. L1[:] b. How to extract value “Happy” based on index and negative index c. How to check type of data in list at 4th position d. Extract values for 100, 300, 400

In [40]:
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'happy', 'major']

In [42]:
#a. L1[:]
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'happy', 'major']

In [46]:
#b. How to extract value “Happy” based on index and negative index
L1[8:-1]

['happy']

In [ ]:
#c. How to check type of data in list at 4th position

In [51]:
print(L1[4])
type(L1[4])

t

str

In [54]:
#d. Extract values for 100, 300, 400
L1[5:-2]

[100, 300, 400]

6. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails If marks are more than 80 output must be “You got distinction” For marks more than 60 output must be “You got First class” Marks more than 40 will display “You got second class” Marks more than or equal to 35 “PASS” Otherwise Fail

In [60]:
user=int(input("enter the marks"))

if user>=80 and user<=100:
    print("You got distinction")
elif user>=60 and user<=80:
    print("You got First class")
elif user>=40 and user<=60:
    print("You got Second class")
else:
    print("Fail")

You got distinction